Cargo.lock
target
**/*.rs.bk

# OS
tags
tags.lock
tags.temp

# WEB
*.html

# ARCHIVES
*.zip

# BryggIO
bryggio.json
sensor-box.json
!sample-*.yaml
!sample-*.json
nats.conf
log_file.csv

# Cross
*.core
