# Nice intro to cargo-make
# https://medium.com/@sagiegurari/automating-your-rust-workflows-with-cargo-make-part-5-final-predefined-tasks-ci-support-and-4594812e57da
[tasks.docs]
description = "Generate bryggIO documentation."
command = "cargo"
args = ["doc", "--no-deps"]

[tasks.rbpi-build]
description = "Build all targets for RbPi (armv7-target)"
command = "cargo"
args = ["build", "--release", "--target=armv7-unknown-linux-gnueabihf"]

[tasks.build-nats]
description = "Build nats-server"
script = [
  "cd deps/nats-server/",
  "go build -o ../../target/nats-server",
  "cd ../.."
]

[tasks.rbpi-install-server]
description = "scp all targets to RbPi (armv7-target)"
dependencies = ["rbpi-build"]
script = [
  "scp target/armv7-unknown-linux-gnueabihf/debug/bryggio-server pi_louron:",
]

[tasks.rbpi-install-cli]
description = "scp all targets to RbPi (armv7-target)"
dependencies = ["rbpi-build"]
script = [
  "scp target/armv7-unknown-linux-gnueabihf/debug/bryggio-cli pi_louron:",
]

[tasks.rbpi-install]
description = "scp all targets to RbPi (armv7-target)"
dependencies = ["rbpi-install-server", "rbpi-install-cli"]
