{% extends "base" %}

{% block content %}
<h2>Control interface</h2>
<p>
    <a href="/start_measure">Start measurement</a>
</p>
<p>
    <a href="/stop_measure">Stop measurement</a>
</p>
{% endblock content %}
