{% extends "base" %}

{% block content %}
<h2>Control interface</h2>
<p>
    <a href="/measure">Start measurement</a>
</p>
<p>
    <a href="https://www.rust-lang.org">Stop measurement</a>
</p>
{% endblock content %}
